{{#contest}}
<div class="contest{{#if running}} running{{/if}}{{#if ended}} ended{{/if}}{{#if entered}} entered{{/if}}">
  	<h2>{{name}}</h2>

  	{{#if minimum_age}}
		<div class="minimum-age"><p>You must be <strong>{{minimum_age}}</strong> or older to enter this contest.</p></div>
	{{/if}}

 	{{#if details}}
	<div class="details">
		<h3>Contest Details</h3>

		{{{details}}}
	</div>
	{{/if}}

	{{#if rules}}
	<div class="rules">
		<h3>Contest Rules</h3>

		{{{rules}}}
	</div>
	{{/if}}

	<dl>
	{{#starts}}
		<dt>Starts</dt>
		<dd data-date="{{original}}"><span class="date">{{month.number}}/{{day.number}}/{{year.full}}</span> <span class="time">at {{hour.half}}:{{minute}}</span> <span class="ampm">{{ampm}}</span></dd>
	{{/starts}}

	{{#ends}}
		<dt>{{#if ../ended}}Ended{{else}}End{{/if}}</dt>
		<dd data-date="{{original}}"><span class="date">{{month.number}}/{{day.number}}/{{year.full}}</span> <span class="time">at {{hour.half}}:{{minute}}</span> <span class="ampm">{{ampm}}</span></dd>
	{{/ends}}
	</dl>

	{{#if entered}}

		<div class="success">
			<p>You have already entered into the {{name}} contest.</p>
		</div>

	{{else}}

		{{#if running}}
		<form class="contest">

			<div class="success" style="display: none;">
				<ul class="success">
					<li>You have been entered into the {{name}} contest</li>
					<li>If you are chosen as a winner you will be contacted via email for confirmation and further details</li>
				</ul>
			</div>
			<div class="errors" style="display: none;">Error</div>

			<fieldset>
				<label><input type="checkbox" class="agree" />I agree to the Contest Rules</label><br />
			</fieldset>

			<ul class="actions">
				<li><button type="submit">Enter Contest</button></li>
			</ul>

		</form>
		{{/if}}

	{{/if}}
</div>
{{/contest}}