<ul>
	{{#contests}}
	<li>

		<h2><a href="{{../parameters.url}}{{id}}">{{name}}</a></h2>

		<dl>
		{{#starts}}
			<dt>Starts</dt>
			<dd><span class="date">{{month.number}}/{{day.number}}/{{year.full}}</span> <span class="time">at {{hour.half}}:{{minute}}</span> <span class="ampm">{{ampm}}</span></dd>
		{{/starts}}

		{{#ends}}
			<dt>{{#if ../ended}}Ended{{else}}End{{/if}}</dt>
			<dd><span class="date">{{month.number}}/{{day.number}}/{{year.full}}</span> <span class="time">at {{hour.half}}:{{minute}}</span> <span class="ampm">{{ampm}}</span></dd>
	 	{{/ends}}
		</dl>

		{{#if details}}
		<div class="details">
			<h3>Contest Details</h3>

			{{{details}}}
		</div>
		{{/if}}

 	</li>
	{{/contests}}
</ul>