{{#order}}
<div class="order">
	<h4>Order {{id}}</h4>
	<div class="details">
		<h5 class="name">{{plan.name}}</h5>
		<span class="customer">Customer ID: <var>{{customer_id}}</var></span>
		<ul class="dates">
			{{#paid_at}}
			<li class="paid">Paid on <var class="date">{{.}}</var></li>
			{{/paid_at}}
			{{#refunded_at}}
			<li class="refunded">Refunded <var class="refunded">{{.}}</var></li>
			{{/refunded_at}}
		</ul>
	</div>
	{{#billing_address}}
	<div class="billing">
		<h6>Billed To</h6>
		<p class="address">
			{{first_name}} {{last_name}}<br/>
			{{address}}<br/>
			{{city}}, {{state}}, {{postal_code}}, {{country}}
		</p>
	</div>
	{{/billing_address}}
	<ul class="shipments">
	{{#shipment}}
		<li>
			{{#status}}<span class="status">{{.}}</span>{{/status}}
			{{#tracking_url}}<var class="tracking"><a href="{{.}}">Track Your Package</a></var>{{/tracking_url}}
			<div class="shipping">
				<h6>Shipped To</h6>
				{{#shipping_address}}
				<p class="address">
					{{first_name}} {{last_name}}<br/>
					{{address}}<br/>
					{{city}}, {{state}}, {{postal_code}}, {{country}}
				</p>
				{{/shipping_address}}
			</div>
			<ul class="items">
			{{#items}}
				<li>
					{{#thumbnail}}<img class="thumbnail" src="{{.}}" />{{/thumbnail}}
					<strong class="name">{{name}}</strong>
					{{#option}}<span class="option">{{.}}</span>{{/option}}
				</li>
			{{/items}}
			</ul>
		</li>
	{{/shipment}}
	</ul>
	{{#totals}}
	<dl class="totals">
		<dt class="subtotal">Subtotal</dt>
		<dd class="subtotal">${{subtotal}}</dd>
		{{#shipping}}
		<dt class="shipping">Shipping</dt>
		<dd class="shipping">${{.}}</dd>
		{{/shipping}}
		{{#discount}}
		<dt class="discount">Discount</dt>
		<dd class="discount">${{.}}</dd>
		{{/discount}}
		<dt class="total">Total</dt>
		<dd class="total">${{total}}</dd>
	</dl>
	{{/totals}}
</div>
{{/order}}