<ul class="orders">
	{{#orders}}
	<li>
		<a href="{{../parameters.url}}{{id}}"><h4>Order {{id}}</h4></a>
		<div class="details">
			<h5 class="name">{{plan.name}}</h5>
			<span class="customer">Customer ID: <var>{{customer_id}}</var></span>
			<ul class="dates">
				{{#paid_at}}
				<li class="paid">Paid on <var class="date">{{.}}</var></li>
				{{/paid_at}}
				{{#refunded_at}}
				<li class="refunded">Refunded <var class="refunded">{{.}}</var></li>
				{{/refunded_at}}
			</ul>
		</div>
		{{#shipment}}
		<ul class="shipments">
			<li>
				{{#status}}<span class="status">{{.}}</span>{{/status}}
				{{#tracking_url}}<var class="tracking"><a href="{{.}}">Track Your Package</a></var>{{/tracking_url}}
			</li>
		</ul>
		{{/shipment}}
		{{#totals}}
		<dl class="totals">
			<dt class="subtotal">Subtotal</dt>
			<dd class="subtotal">${{subtotal}}</dd>
			{{#shipping}}
			<dt class="shipping">Shipping</dt>
			<dd class="shipping">${{.}}</dd>
			{{/shipping}}
			{{#discount}}
			<dt class="discount">Discount</dt>
			<dd class="discount">${{.}}</dd>
			{{/discount}}
			<dt class="total">Total</dt>
			<dd class="total">${{total}}</dd>
		</dl>
		{{/totals}}
	</li>
	{{/orders}}
</ul>